# Pandas

- Alta performance e fácil uso para trabalhar com dados
- Tem muitas coisas que lembram o Excel
- O DataFrame é usado em várias outras bibliotecas de Ciência de Dados
- https://pandas.pydata.org/
<br><br>
- O Pandas vai <font color="blue">**desde a importação da base, passando por toda a análise exploratória até a exibição de gráficos** </font>

In [4]:
# Importando o pandas
import pandas

### Conseguimos importar praticamente todas as bases de dados usando o pandas

**Importar uma base em csv:** <br>
<font color="blue">**pd.read_csv(**</font>"arquivo_excel.xlsx"<font color="blue">**)**</font>
- O arquivo que vamos usar é o `exams.csv`

In [5]:
# Importando a base em csv
pandas.read_csv('exams.csv')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73,70,65
996,male,group D,associate's degree,free/reduced,completed,85,91,92
997,female,group C,some high school,free/reduced,none,32,35,41
998,female,group C,some college,standard,none,73,74,82
999,male,group A,some college,standard,completed,65,60,62

### E também visualizar todas as informações sobre essa base

In [25]:
# Visualizando as 5 primeiras linhas

In [26]:
# Visualizando as 5 últimas linhas

In [27]:
# Tamanho da base

In [28]:
# Visualizando primeiras e últimas linhas e tamanho da base

### Além disso, também podemos ver as informações da base

In [29]:
# Mostrando somente o tipo dos dados

In [30]:
# Mostrando o tipo de dados e os valores vazios

In [31]:
# Contando os valores vazios por coluna

### Principais conceitos estatísticos

In [ ]:
dados = {
    'X': [1,2,3] #,4,5,6,7,8,9,10,11]
}

dados = pd.DataFrame(dados)

In [32]:
# Mostrando a média

In [33]:
# Mostrando a contagem de registros

In [34]:
# Mediana

In [35]:
# Desvio Padrão

In [36]:
# Trazendo todo o resumo estatístico utilizando o describe

**Voltando para a base do nosso problema**

In [ ]:
# Trazendo o resumo estatístico para a nossa base

### Escolhendo colunas da base

**Buscando por uma coluna:** <br>

In [37]:
# Podemos usar o nome da coluna entre aspas

In [38]:
# Ou usar o ponto

In [39]:
# Usando uma coluna, podemos contar a quantidade de vezes que cada valor aparece

In [40]:
# Selecionando um conjunto de colunas

### Também conseguimos fazer filtros na base

In [ ]:
# Visualizando novamente na base

In [ ]:
# Verificando clientes que pagaram mais de 100 libras

In [ ]:
# Verificando se tiveram clientes que pagaram menos de 5 euros

**Podemos fazer filtros usando E / OU**

In [ ]:
# Verificando se alguém viajou com esposa E filhos

#### Uma forma muito útil de fazer seleção de dados é usando o <font color="blue">.loc()</font> ou o <font color="blue">.iloc()</font>

In [ ]:
# O .loc() permite fazer a busca da mesma forma acima

In [ ]:
# Ele também permite usar argumentos lógicos

In [ ]:
# Ele permite filtrar colunas de forma muito prática

**Já o <font color="blue">.iloc() </font> vai usar o índice para filtrar**

In [ ]:
# Buscando as linhas de 30 (inclusive) a 40 (exclusive)

In [ ]:
# Também posso usar para buscar apenas colunas específicas

### Por fim, conseguimos fazer gráficos com o Pandas de forma bem simples

- https://pandas.pydata.org/docs/user_guide/visualization.html

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# É possível fazer um histograma simples

In [ ]:
# Gráficos de barras

In [ ]:
# E até gráficos mais complexos como o de densidade